* {
    font-family: 'Mulish', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

header {
    padding: 30px 130px;
}

#opi {
    display: none;
}

.logo {
    display: flex;
}

.logo img {
    height: 56.008px;
    margin-top: 30px;
    margin-right: 10px;
}

.logo .title {
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
}

.logo .b-title {
    color: #FF5400;
    font-size: 2rem;
    font-weight: 800;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;

}

nav li #home {
    color: #FF5400;
    font-weight: 700;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

.banner {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
    height: 100vh;
    border-radius: 20px;
}

.banner-container {
    text-align: center;
    padding-top: 200px;
}

.banner-container .banner-title {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 0px;
}

.banner-container .banner-desc {
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;

}

.banner .find-bar {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 10px;
    margin:10px 50px;
}

.banner .find-container {
    align-items: center;
    display: flex;
    justify-content: space-around;
    gap: 15px;
}

.input {
    border-radius: 5px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
    border: none;
    width: 180px;
    padding: 16px 16px;
    text-align: left;
    cursor: pointer;
}

.btn-primary {
    width: 174px;
    border-radius: 5px;
    background: #FD6E0A;
    padding: 16px 16px;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    border: 0;

}

main {
    max-width: 1140px;
    margin: 0 auto;
}
.popular-content{
    padding-left: 20px;
}
.popular-tour {
    display: flex;
    margin-top: 100px;
    gap: 50px;
}

.common-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 24px;
}

.desc {
    color: rgba(19, 19, 24, 0.70);
    font-size:1rem;
    font-weight: 400;
    margin-bottom: 24px;
}

.btn-t {
    border-radius: 8px;
    background: #FF5400;
    border: none;
    width: 174px;
    height: 55px;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;
}

.popular-img img {
    height: 100%;
}

.destination {
    text-align: center;
    padding-top: 100px;
}

.destination .desc {
    max-width: 600px;
    padding-left: 250px;
}

.destination-container {
    width: 100%;
}

.desti-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    position: relative;
    padding-bottom: 10px;
}


.desti-img .pt {
    position: relative;
    text-align: center;
    color: white;
}

.desti-img img {
    height: 100%;
}

.desti-img .country {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.8rem;
}

.div {
    text-align: center;
    padding-top: 50px;
}

.choose .desc {
    max-width: 600px;
    padding-left: 250px;
}

.two {
    display: flex;
    justify-content: space-between;
    gap: 30px;

}

.p-one {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding-top: 20px;
    padding-left: 20px;
}

.p-two {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding-top: 20px;
    padding-left: 20px;
}

.p-three {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    max-width: 573px;
    margin: auto;
    margin-top: 50px;
    padding-top: 20px;
    padding-left: 20px;
}

.choose-container .choose-title {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.news-container {
    margin-top: 50px;
}

.news {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.news-content {
    border: 1px solid #FD6E0A;
    padding-left: 20px;
}

#frm {
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    width: 350px;
    height: 52px;
    border: none;
    text-align: center;
    margin-bottom: 30px;
}

.news-btn {
    background: #FF5400;
    width: 350px;
    height: 52px;
    border: none;
    text-align: center;
    margin-bottom: 30px;
    color: #FFF;
}
.news-img {
    position: relative;
    text-align: center;
    color: white;
}

.news-offer {
    border-radius: 16px;
    background: #FF5400;
    width: 324px;
    height: 120px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: rotate(-19.628deg);
    font-size: 1.8rem;
}

.news-title {
    color: #FFF;
    text-align: center;
    font-size: 1.8px;
    font-weight: 400;
    margin-bottom: 0px;
}

.news-desc {
    color: #FFF;
    font-size:2rem;
    font-weight: 800;
    margin-top: 5px;
}

.footer {
    background: rgba(19, 19, 24, 0.05);
    text-align: center;
    align-items: center;
    margin-top: 50px;
}

.footer .logo {
    padding-top: 30px;
    padding-left: 600px;

}
.footer .desc{
    max-width: 600px;
    padding-left: 450px;
}
.icon img {
    padding-right: 30px;
}

.hr {
    background: rgba(19, 19, 24, 0.10);
}

.copy {
    color: #131318;
    font-size: 1rem;
    font-weight: 300;
}

@media screen and (max-width: 600px) {
    header {
        padding: 5px;
    }

    nav ul {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    nav #opi {
        display: flex;
    }

    .banner-container {
        padding-top: 5px;
    }

    .banner-container .banner-title {
        color: #FFF;
        font-size: 22px;
        font-weight: 800;
        margin-bottom: 0px;
    }

    .banner-desc {
        padding: 5px;
    }

    .banner {
        height: 100%;
    }

    .find-container,
    .popular-tour,
    .desti-img,
    .two,
    .news {
        flex-direction: column;
    }
    
    .desti-img,
    .pt {
        grid-template-columns: 1fr;
    }

    .popular-img img,
    .desti-img img,
    .news-img img {
        height: auto;
        width: 100%;
    }

    .destination .desc,
    .choose .desc ,
    .footer .logo,
    .footer .desc

    {
        padding-left: 0px;
    }

    .news-offer {
        width: 200px;
        height: 70px;
    }

    .news-title {
        color: #FFF;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 0px;
    }

    .news-desc {
        color: #FFF;
        font-size: 20px;
        font-weight: 800;
        margin-top: 5px;
    }
}


